<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<h3>Teamplayers</h3>
<br/>
<table border="1" class="table table-striped">
    <tr>
        <th>ID</th>
        <th>TEAM ID</th>
        <th>TEAM NAME</th>
        <th>TEAM USER ID</th>
        <th>TEAM USER ROLE ID</th>
        <th>TEAM USER ROLE NAME</th>
        <th>TEAM USER NAME</th>
        <th>TEAM USER USERNAME</th>
        <th>TEAM USER PASSWORD</th>
        <th>TEAM USER IS ADMIN</th>
        <th>PLAYER ID</th>
        <th>PLAYER NAME</th>
        <th>PLAYER USER ID</th>
        <th>PLAYER USER ROLE ID</th>
        <th>PLAYER USER ROLE NAME</th>
        <th>PLAYER USER NAME</th>
        <th>PLAYER USER USERNAME</th>
        <th>PLAYER USER PASSWORD</th>
        <th>PLAYER USER IS ADMIN</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="teamplayer: ${allTeamplayers}">

        <td th:text="${teamplayer.teamPlayerId}"></td>
        <td th:text="${teamplayer.team.teamId}"></td>
        <td th:text="${teamplayer.team.teamName}"></td>
        <td th:text="${teamplayer.team.user.userId}"></td>
        <td th:text="${teamplayer.team.user.userRole.roleId}"></td>
        <td th:text="${teamplayer.team.user.userRole.roleName}"></td>
        <td th:text="${teamplayer.team.user.name}"></td>
        <td th:text="${teamplayer.team.user.username}"></td>
        <td th:text="${teamplayer.team.user.password}"></td>
        <td th:text="${teamplayer.team.user.isAdmin}"></td>


        <td th:text="${teamplayer.player.id}"></td>
        <td th:text="${teamplayer.player.playerName}"></td>
        <td th:text="${teamplayer.player.user.userId}"></td>
        <td th:text="${teamplayer.player.user.userRole.roleId}"></td>
        <td th:text="${teamplayer.player.user.userRole.roleName}"></td>
        <td th:text="${teamplayer.player.user.name}"></td>
        <td th:text="${teamplayer.player.user.username}"></td>
        <td th:text="${teamplayer.player.user.password}"></td>
        <td th:text="${teamplayer.player.user.isAdmin}"></td>

        <td>
            <form th:action="@{/teamplayers/deleteTeamPlayer/{id}(id=${teamplayer.teamPlayerId})}">
                <input class="btn btn-primary" type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:action="@{/teamplayers/updateTeamPlayer/{id}(id=${teamplayer.teamPlayerId})}" method="post">
                <input class="btn btn-primary" type="submit" value="Update">
            </form>
        </td>
    </tr>
</table>

<br/>
<br/>

<div class="container" align="center">
    <div class="form-group col-md-2">
        <form th:action="@{/teamplayers/addTeamPlayer}" method="get">
            <input class="btn btn-outline-dark" type="submit" value="Add new teamplayer"/> <br/><br/>
        </form>

        <form th:action="@{/}" method="get">
            <input class="btn btn-outline-dark" type="submit" value="To homepage"> <br/><br/>
        </form>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>